@model QuestStore_C_of_thieves.Models.Repositories.ArtifactsRepository
@{
    ViewData["Title"] = "My Quests";
    var _activeUser = ViewData["activeUser"] as User;
}
<center>
    <h1>YOUR PRECIOUS BOOTIES</h1>
    <div>
        <table class="styled-table">
            <tr>
                <th><h3>ARTIFACT NAME</h3> </th>
                <th><h3>ARTIFACT TYPE</h3></th>
                <th><h3>VALUE</h3></th>
                <th><h3>AVAILABILITY</h3></th>
            </tr>
            @foreach (var artifact in Model.CodecoolersArtifactsList)
            {
        <tr>
            <td><h3><a asp-controller="Artifact" asp-action="Details" asp-route-id="@artifact.ArtifactId"> @artifact.ArtifactName </a> </h3> </td>
            <td><h3> @artifact.ArtifactType </h3></td>
            <td><h3> @artifact.ArtifactValue </h3></td>
            @{
                if (!artifact.IsUsed)
                {
                    <td><a asp-controller="Artifact" asp-action="UseArtifact" asp-route-id="@artifact.Id"><img src="~/img/full.png" height="40" title="Use it!" /></a></td>
                }
                else
                {
                    <td><img src="~/img/empty1.png" height="40" title="Artifact used" /></td>
                }
            }

</tr>
            }
        </table>
    </div>
</center>