@model QuestStore_C_of_thieves.Models.Repositories.ArtifactsRepository;
@{
    ViewBag.Title = "Booties to purchase!";
}

@section searchbar{
    <form method="post" asp-controller="Artifact" asp-action="Search">
        <div class="searchbox">
            <input type="text" placeholder="&#x1F50E Search the Seven Seas for artifacts!" id="search" name="keyword">
        </div>
    </form>
}

<h1 class="display-4">Booties to purchase!</h1><br />
                                               <div class="dropdowns">
                                                   <div class="dropdown">
                                                       <button class="dropbtn">Sort booties by:</button>
                                                       <span class="dropdown-content">
                                                           <a class="detail" asp-controller="Artifact" asp-action="SortPriceASC">Price ascending</a>
                                                           <a class="detail" asp-controller="Artifact" asp-action="SortPriceDESC">Price descending</a>
                                                           <a class="detail" asp-controller="Artifact" asp-action="SortNameASC"> Name A-Z</a>
                                                           <a class="detail" asp-controller="Artifact" asp-action="SortNameDESC">Name Z-A</a>
</span>
                                                   </div>

                                                   <div class="dropdown">
                                                       <button class="dropbtn">Display:</button>
                                                       <span class="dropdown-content">
                                                           <a class="detail" asp-controller="Artifact" asp-action="DisplayBasic">Basic artifacts</a>
                                                           <a class="detail" asp-controller="Artifact" asp-action="DisplayMagic">Magic artifacts</a>
                                                           <a class="detail" asp-controller="Artifact" asp-action="Index">All artifacts</a>
</span>
                                                   </div>
                                               </div>
<br /><br />
<div class="artifacts">

    @foreach (var artifact in Model.Entities)
    {
        <div class="card">
            <img src="~/img/@artifact.Image" id="icon">
            <div class="card-overlay"><a class="detail" asp-controller="Artifact" asp-action="Details" asp-route-id="@artifact.Id">Check the details!</a></div>
            <div class="container">
                <p id="cardtitle"> #@artifact.Id @artifact.Name</p>
                <p id="carddescription">TYPE: @artifact.Type</p>
                <p id="carddescription">PRICE: @artifact.Price</p>
                <p id="carddescription">AMOUNT: @artifact.Amount</p>
                <a asp-controller="Artifact" asp-action="Edit" asp-route-id="@artifact.Id">Edit</a>
                <a asp-controller="Artifact" asp-action="Delete" asp-route-id="@artifact.Id">Delete</a>
            </div>
        </div>
    }

</div>



