@model QuestStore_C_of_thieves.Models.Repositories.QuestRepository
@{ 
    ViewData["Title"] = "Index";
    var _activeUser = ViewData["activeUser"] as User;
}
@section searchbar{
    <form method="get" asp-controller="Quest" asp-action="Search">
        <div class="searchbox">
            <input type="text" placeholder="&#x1F50E Search the Seven Seas!" id="search" name="keyword">
        </div>
    </form>
}
<h1 class="display-4">Quests to perform!</h1>

<div class="about">

    @foreach (var quest in Model.Entities)
    {
    <div class="card">
        @if (quest.Type == "basic")
        {
            <img src="~/img/island.png" id="icon" />
        }
        else if (quest.Type == "extra" && quest.ExpValue < 40)
        {
            <img src="~/img/island2.png" id="icon" />
        }
        else
        {
            <img src="~/img/treasuremap.png" id="icon" />
        }
        <a asp-controller="Quest" asp-action="Details" asp-route-id="@quest.Id"><div class="card-overlay">Check the details!</div></a>
        <div class="container">
            <p id="cardtitle">@quest.Name</p>
            <p id="carddescription">Type: @quest.Type</p>
            <p id="carddescription">Coolpoints: @quest.CoolpointsValue</p>
            <p id="carddescription">Experience: @quest.ExpValue</p>
        </div>
    </div>
    }

</div>
